
@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<form action="/Home/SummaryPage" method="post">
    FirstName
    <input type="text" name="firstname" required/><br/>
    Lastname
    <input type="text" name="lastname" required/><br />
    Email
    <input type="email" name="email" required/><br />
    Phonenumber
    <input type="tel" name="phonenumber" required/><br />
    Password
    <input type="password" name="password" required/><br />

    <input type="submit" value="Submit"/>


</form>

